<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#"><i class="glyphicon glyphicon-home"></i> {{APP_NAME}}</a>
	</div>
	<div id="navbar" class="collapse navbar-collapse"  ng-if="isAuthenticated()">
		<ul class="nav navbar-nav">
			<li ng-class="{active: current_url() == '/locales/listar'}">
				<a ui-sref="locales.listar">Locales</a>
			</li>
			<li ng-class="{active: current_url() == '/propiedades/listar'}">
				<a ui-sref="propiedades.listar">Propiedades</a>
			</li>
			<li ng-class="{active: current_url() == '/ofertas/listar'}">
				<a ui-sref="ofertas.listar">Ofertas</a>
			</li>
			<li ng-class="{active: current_url() == '/usuarios/listar'}">
				<a ui-sref="usuarios.listar">Usuarios</a>
			</li>
			<li ng-class="{active: current_url() == '/informes/listar'}" ng-if="isAdmin">
				<a ui-sref="informes.listar">Estadisticas</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">				
				<a ng-href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.nombre + ' ' + user.apellido}} <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a ng-click="logout()" ng-href="">Cerrar sesión</a></li>
				</ul>
			</li>

		</ul>

	</div>
</nav>