<tools-menu modulo="ofertas" vista="listar">
</tools-menu>

<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th width="40" class="text-center"><input type="checkbox" ng-model="tools.selectAll" ng-change="selectAllChange()" title="Marcar todo"/></th>
				<th class="text-left">Nombre</th>
				<th width="120" class="text-center">Descuento (%)</th>
				<th width="40" class="text-center">ID</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="o in ofertas">
				<td class="text-center"><input type="checkbox" ng-model="o.selected" ng-checked="tools.selectAll"/></td>
				<td class="text-left"><a ui-sref="ofertas.modificar({id: o.id_oferta})">{{o.nombre}}</a></td>
				<td class="text-center">{{o.descuento}}%</td>
				<td class="text-center">{{o.id_oferta}}</td>
			</tr>
		</tbody>
	</table>
</div>