<tools-menu modulo="usuarios" vista="listar">
</tools-menu>

<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="text-left"><input type="checkbox" ng-model="tools.selectAll" ng-change="selectAllChange()" title="Marcar todo"/></th>
				<th class="text-left">Nombre completo</th>
				<th class="text-left">Email</th>
				<th width="100" class="text-center">Tipo</th>
				<th width="80" class="text-center">Estado</th>
				<th width="40" class="text-center">ID</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-usuario ng-repeat="usuario in usuarios" usuario="usuario" mostrar-tipo="Permisos.getTiposDeUsuariosAVer()">
			</tr>
		</tbody>
	</table>
</div>