@import 'navbar.scss';
@import 'panel.scss';
@import 'buttons.scss';
@import 'tools-menu.scss';

body{
	background: #e4e7ec;
}

#mainbody {
	$mainbody-padding-top: 50px;
	padding-top: $mainbody-padding-top;

	.page{

		@mixin auth() {
			background: #17568c; //url('../images/login.jpg');
			height: calc(100vh - #{$mainbody-padding-top});

			& > div{
				position: absolute;
				left: 50%;
				top: 50%;
				margin-top: -173px;
				margin-left: -145px;

				@media (min-width: 320px) and (max-width: 767px) {
					width: 320px;
					left: 50%;
					margin-left: -160px;

					.center-form{
						width: 100%;
						max-width: 320px;
					}
				}
			}
		}

		&-login{
			@include auth();

		}

		&-register{
			@include auth();

			& > div {
				margin-top: -263px;
			}

		}

	}
}

#login {
	margin-top: 0px;
}

.form-control {
	border-radius: 0;
}

.center-form {
	width: 330px;
	margin: 2% auto;
}

.color{
	&-red{
		color: red;
	}

	&-green{
		color: green;
	}
}

.cursor-pointer{
	cursor: pointer;
}

.propiedad{

	$padding: 30px;

	min-height: 500px;

	.title{
		font-size: 14px;
		font-weight: bold;
	}

	&-bottom{

		min-height: 160px;
		margin-bottom: $padding / 2;
		position: relative;

		.list-group{

			&-item{
				font-size: 12px;

				&:last-child{
					border-radius: 0px;
				}
			}

		}

		div{
			position: absolute;
			bottom: 0px;
			left: 15px;
			width: calc(100% - #{$padding});

			.price{
				color: red;
				font-weight: bold;
				line-height: 34px;
			}
		}

	}

}

.oferta{
	@extend .propiedad;

	min-height: 550px;

	.propiedad-bottom{
		min-height: 210px;
	}
}